.homeSectionWidth {
	width: 1324px;
	padding: 40px 20px;
}

.heroSection {
	display: flex;
	justify-content: space-between;
}
.heroSection > img {
	display: flex;
	width: 45%;
}
.heroSection > div {
	display: flex;
	width: 45%;
}
.headingTopography {
	font-family: Inter;
	font-size: 49px;
	font-weight: 700;
	line-height: 64px;
	text-align: left;
	color: #0a65cc;
	margin-bottom: 10px;
}
.headingTopography2 {
	font-family: Inter;
	font-size: 42px;
	font-weight: 400;
	line-height: 64px;
	text-align: left;
	color: #656565;
	margin-bottom: 10px;
}
.headingTopography3 {
	font-family: Inter;
	font-size: 18px;
	font-weight: 400;
	line-height: 28px;
	text-align: left;
	color: #656565;
	width: calc(100% - 74px);
	margin-bottom: 10px;
}
.section4 {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 50px;
	flex-direction: column;
	background-color: #f1f2f4;
}
.section4Img {
	width: 100%;
}
