/* Navbar */
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #f1f2f4;
	padding: 10px 55px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	position: sticky;
	top: 0px;
}
.navbar-activeTab {
	color: #0a65cc !important;
	text-decoration: underline !important;
}
.navbar-links {
	list-style: none;
	display: flex;
	gap: 20px;
}

.navbar-links li div {
	text-decoration: none;
	font-family: Inter;
	font-size: 15.12px;
	font-weight: 400;
	line-height: 21.6px;
	text-align: left;
	color: #5e6670;
}

.navbar-actions {
	display: flex;
	align-items: center;
	gap: 20px;
}

.search-bar {
	display: flex;
	align-items: center;
	gap: 10px;
}

.search-bar input {
	padding: 5px;
	border-radius: 5px;
	border: 1px solid #ccc;
}

.search-bar select {
	padding: 5px;
	border-radius: 5px;
	border: 1px solid #ccc;
}

.find-job,
.post-job {
	padding: 10px 15px;
	background-color: #0071ff;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.post-job {
	background-color: #ff5500;
}

.find-job:hover,
.post-job:hover {
	opacity: 0.9;
}

/* NavigationFooter */

.navigationFooterCss {
	background-color: #121212;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}
.navigationFooterCss .contact {
	width: 300px;
}
footer {
	width: 1324px;
	padding: 40px 20px;
	background-color: #121212;
	display: flex;
	justify-content: space-between;
}

.footerFlexDiv {
	display: flex;
	gap: 20px;
}
.footerFlexDiv > div {
	display: flex;
	align-items: start;
	justify-content: flex-start;
	gap: 20px;
}

.footer-section h3 {
	margin-bottom: 20px;
	font-size: 20px;
	color: #fff;
}
.hoverEffectFooterSection > div {
	display: flex;
}
.hoverEffectFooterSection > div:hover > .hoverImg {
	display: flex;
	margin-right: 6px;
	height: 21px;
}
.hoverImg {
	display: none;
}
.quick-links {
	width: 141px;
}
.candidate {
	width: 216px;
}
.employers {
	width: 222px;
}
.support {
	width: 207px;
}

.footer-section > div {
	color: #777;
	font-size: 17px;
	text-decoration: none;
	margin-bottom: 10px;
}

.footer-section div:hover {
	color: #fff;
}

.footer-bottom {
	width: 1324px;
	text-align: center;
	padding: 20px;
	background-color: #101010;
	font-size: 0.9rem;
	display: flex;
	justify-content: space-between;
	box-shadow: 0px 1.08px 0px 0px #2f3338 inset;
}
.social-icons {
	display: flex;
}
.footer-bottom .social-icons img {
	max-height: 21px;
	margin: 0 10px;
}

.footer-bottom .social-icons img:hover {
	filter: invert(100%);
}
