@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
	margin: 0;
	box-sizing: border-box;
	padding: 0;
}

html,
body {
	height: 100vh;
	overflow: hidden auto;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}

a {
	text-decoration: none;
	color: inherit;
}

body {
	margin: 0;
	font-family: Inter;
	font-size: 18px;
	font-weight: 400;
}

#root {
	/* height: 100%; */
}

body::-webkit-scrollbar {
	width: 10px;
}

body::-webkit-scrollbar-track {
	background-color: var(--light-grey);
}

body::-webkit-scrollbar-thumb {
	background-color: var(--grey);
}

:root {
	--primary: #1296b0;
	--primary-hover: #e9f3f4;
	--secondary: #f7941d;
	--secondary-hover: #fff4e5;
	--green: #0db53c;
	--green-hover: #dff3e5;
	--pink: #da5db6;
	--pink-hover: #ffeefa;
	--blue: #77a2c7;
	--blue-hover: #eaf5ff;
	--orange: #fb7158;
	--orange-hover: #fff2f0;
	--teal: #5bc4bf;
	--teal-hover: #ebfdfc;
	--magenta: #de64a1;
	--magenta-hover: #ffeef2;
	--moonstone: #6ab1bf;
	--moonstone-hover: #e7f3f5;
	--purple: #8a88ed;
	--purple-hover: #f0f0ff;
	--bg-dark: #071e3d;
	--bg-light: #fdfdfd;
	--grey: #e6e6e6;
	--light-grey: #d4d5d9;
	--bg-modal-dark: #c9ddf8;
	--bg-modal-light: #f5f5f5;
	--black: #000;
	--white: #fff;
	--primary-text: #555555;
	--secondary-text: #bfbfbf;
	--notification-red: #f71d1d;
	--notification-green: #00ab00;
	--pastel-background: rgba(216, 240, 242, 0.4);
	--global-hover: #e6e6e6;
	--table-back: #fbfbfb;
	--table-head-back: #f4fbfc;
	--form-background: #faf9f8;
	color: #555555;
	font-size: 14px;
}

/* width */
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.04);
	background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #bbdce3;
	border-radius: 3px;
}
button {
	all: unset; /* Removes all default styles */
	display: inline-block; /* Ensures button behaves like a block element */
	cursor: pointer; /* Adds pointer cursor for hover state */
	text-align: center; /* Center text inside the button */
	background-color: transparent; /* Transparent background */
	padding: 0; /* Remove any default padding */
	margin: 0; /* Remove any default margin */
	border: none; /* Remove default borders */
	font: inherit; /* Inherit the font from the parent */
	color: inherit; /* Inherit text color */
	line-height: normal; /* Ensures consistent line height */
	-webkit-appearance: none; /* Remove default button appearance in WebKit browsers */
	-moz-appearance: none; /* Remove default button appearance in Firefox */
	appearance: none; /* Remove default button appearance in modern browsers */
}

button:focus {
	outline: none; /* Remove default focus outline */
}
input {
	font-family: "Poppins", sans-serif !important;
}

.link {
	text-decoration: none;
}

.cursor:hover {
	cursor: pointer;
}

.cursor label:hover {
	cursor: pointer;
}

h1 {
	font-size: 35px;
	font-weight: 500;
	margin: 0;
}

h2 {
	font-size: 30px;
	font-weight: 500;
	margin: 0;
}

h3 {
	font-size: 25px;
	font-weight: 500;
	margin: 0;
}

h4 {
	font-size: 20px;
	font-weight: 500;
	margin: 0;
}

h5 {
	font-size: 17px;
	font-weight: 500;
	margin: 0;
}

h6 {
	font-size: 14px;
	font-weight: 500;
	margin: 0;
}

p {
	margin: 0;
}

button:hover {
	cursor: pointer;
}

.not-selectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.input-shorttext {
	color: var(--black);
	background-color: var(--white);
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.02);
	border-radius: 14px;
	font-size: 14px;
	margin: 12px 0px;
	padding: 12px;
	border: 1.42px solid #d9d9d9;
	box-sizing: border-box;
	outline: 0;
	height: 50px;
	width: calc(100%);
	flex: 1;
	font-weight: 400;
	/* color: var(--black);
	background-color: var(--white);
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.02);
	border-radius: 4px;
	font-size: 14px;
	margin: 12px;
	padding: 12px;
	border: 1.42px solid #d9d9d9;
	box-sizing: border-box;
	outline: 0;
	height: 40px;
	width: calc(100% - 24px);
	flex: 1;
	font-weight: 400; */
}

.input-shorttext::-webkit-input-placeholder {
	text-transform: initial;
}

.input-shorttext:-moz-placeholder {
	text-transform: initial;
}

.input-shorttext::-moz-placeholder {
	text-transform: initial;
}

.input-shorttext:-ms-input-placeholder {
	text-transform: initial;
}

/* .input-shorttext:hover {
	border: 1px solid var(--primary-hover);
} */

/* .input-shorttext:focus {
	border: 1px solid var(--primary);
} */

.loginFont {
	font-family: Inter;
	font-size: 24px;
	font-weight: 600;
	text-align: left;
	color: #000000;
	margin: 0px 0px 20px 0px;
}
.loginpFont {
	font-family: Inter;
	font-size: 15px;
	font-weight: 500;
	text-align: left;
	margin: 0px 0px 23px 0px;
}
.loginAs {
	width: 100%;
	height: 127px;
	background-color: #f4f4f4;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 15px 0px;
	margin: 10px 0px;
	border-radius: 14px;
}
.loginAsFont {
	font-family: Inter;
	font-size: 18px;
	font-weight: 400;
	text-align: center;
	color: #656565;
	margin: 16px;
}
.loginTabButton {
	width: 40%;
	height: 50px;
	background-color: #dedede;
	border-radius: 14px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 17px;
}
.loginTabButtonFont {
	font-family: Inter;
	font-size: 18px;
	font-weight: 400;
	color: #000000;
}
.activeLoginMode {
	background-color: #0a65cc;
}
.activeLoginMode > .loginTabButtonFont {
	color: #fefefe !important;
}
.password-container {
	position: relative;
}
.password-icons {
	position: absolute;
	right: 31px;
	top: 30px;
	height: 17px;
	display: flex;
	align-items: center;
}
.loginSubmitButton {
	border-radius: 14px;
	background-color: #0a65cc;
	color: #fefefe;
	width: calc(100% - 19px);
	padding: 15px 10px;
	text-align: center;
}
.loginSubmitButtonFont {
	font-family: Inter;
	font-size: 18px;
	font-weight: 400;
	margin-top: 10px;
}
.loginLinkColor {
	font-family: Inter;
	font-size: 15px;
	font-weight: 400;
	color: #0a65cc;
	text-decoration: underline;
	text-decoration-color: #0a65cc;
}
.slick-prev,
.slick-next {
	font-size: 0;
	line-height: 0;
	position: absolute;
	top: 50%;
	display: block;
	width: 50px !important;
	height: 50px !important;
	border-radius: 12px !important;
	padding: 0;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
	cursor: pointer;
	color: red !important;
	border: none;
	outline: none;
	background: red !important;
}
.slick-next {
	right: -70px !important;
}
.slick-prev {
	left: -70px !important;
}
.slider-containerdefault {
	width: 1282px;
}

.CarousalNext {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	z-index: 10;
	right: -72px;
	pointer-events: none;
}
.CarousalPrev {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	z-index: 10;
	left: -72px;
	pointer-events: none;
}
.stars {
	display: flex;
	gap: 4px;
	margin-bottom: 15px;
}
.testimonial-card {
	width: 400px;
	background-color: white;
	border-radius: 12px;
	padding: 20px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.testimonial-text {
	color: #464d61;
	font-family: Inter;
	font-size: 15px;
	font-weight: 400;
	line-height: 25.92px;
	text-align: left;
	margin-bottom: 45px;
}
.user-info {
	display: flex;
	align-items: center;
}
.user-infocover {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.user-name {
	color: #191f33;
	font-family: Inter;
	font-size: 15px;
	font-weight: 500;
	line-height: 25.92px;
	text-align: left;
}
.user-title {
	color: #767e94;
	font-family: Inter;
	font-size: 13px;
	font-weight: 400;
	line-height: 21.6px;
	text-align: left;
}
.slick-dots {
	position: absolute;
	bottom: -49px !important;
	display: block;
	width: 100%;
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: center;
}
.slick-dots li button:before {
	font-family: "slick";
	font-size: 14px !important;
	line-height: 20px;
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	content: "•";
	text-align: center;
	opacity: 0.25;
	color: black;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}



.provider-container {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.provider-tabs {
	display: flex;
	background-color: var(--bg-light);
	padding: 10px 20px;
	border-bottom: 1px solid var(--light-grey);
}

.tab {
	margin-right: 20px;
	padding: 10px 15px;
	border-radius: 8px;
	color: var(--primary-text);
	font-weight: 500;
	transition: background-color 0.3s, color 0.3s;
}

.tab:hover {
	background-color: var(--global-hover);
}

.active {
	background-color: var(--primary);
	color: var(--white);
}

.provider-content {
	flex: 1;
	padding: 20px;
	overflow-y: auto;
	background-color: var(--bg-dark);
	color: var(--white);
}